@use "/styles/mixins.scss";

.rootContainer {
    padding: 3rem 0;
    overflow-x: hidden;

    p {
        font-size: 17px;
        line-height: 1.23536;
        font-weight: 600;
        letter-spacing: -0.011em;
    }
}

.heroImg {
    display: inline-block;
    height: 650px;
    width: 100vw;
}

.features {
    padding: 28px 28px 0;

    p {
        margin-top: 1.5rem;
        color: #86868b;

        span {
            color: #000;
        }
    }
}

.singleFeature {
    padding-bottom: 3rem;
}

.crownVideoWrapper {
    position: relative;
    margin-top: 3rem;

    p {
        position: absolute;
        bottom: 6rem;
        @include mixins.horizontal-center;
        width: 280px;
        color: #d1e8fd;

        span {
            color: #fff;
        }
    }
}

.crownVideo {
    position: absolute;
    width: 160%;
    @include mixins.horizontal-center;
}

.crownBody {
    position: relative;
    width: 160%;
    @include mixins.horizontal-center;
}

.pauseplayBtn {
    position: absolute;
    bottom: 36px;
    right: 42px;
    height: 26px;
    width: 26px;
}
